.photo
	&.photo-bg0
		background-color: #1abc9c !important

	&.photo-bg1
		background-color: #2ecc71 !important

	&.photo-bg2
		background-color: #3498db !important

	&.photo-bg3
		background-color: #9b59b6 !important

	&.photo-bg4
		background-color: #e74c3c !important

	&.photo-bg5
		background-color: #e67e22 !important

	&.photo-bg6
		background-color: #34495e !important

	&.photo-bg7
		background-color: #7f8c8d !important

	&.photo-bg8
		background-color: #2980b9 !important

	&.photo-bg9
		background-color: #27ae60 !important
