doctype html
html
  head
    title Wanda
    link(rel="stylesheet", href="/bower/semantic-ui/dist/semantic.min.css")
    link(rel="stylesheet", href="/bower/ng-notify/dist/ng-notify.min.css")
    link(rel="stylesheet", href="/css/styles.css")
  body(ng-app="app")
    div(ui-view="")

    script(src="/socket.io/socket.io.js")

    script(src="/bower/angular/angular.js")
    script(src="/bower/angular-ui-router/release/angular-ui-router.js")
    script(src="/bower/angular-socket-io/socket.js")
    script(src="/bower/ng-notify/dist/ng-notify.min.js")

    script(src="/bower/jquery/dist/jquery.min.js")
    script(src="/bower/semantic-ui/dist/semantic.min.js")
    script(src="/bower/async/dist/async.min.js")

    script(src="/js/ng.js")